.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.checkoutproduct-info {
    padding-left: 20px
}

.checkoutproduct-info > button {
    background: #f0c14b;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutproduct-image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutproduct-rating {
    display: flex;
  }

.checkoutproduct-title {
    font-size: 17px;
    font-weight: 700;
}

@media screen and (max-width: 500px){
    
    .checkoutproduct-image {
        object-fit: contain;
        width: 100px;
        height: 100px;
      }
}